@media only screen and (min-width: 1200px) {
    .main-options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60vmin;
        background-image: url("/src/pagesDesktop/Images/inyeccion.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60vmin;
    }
    .main-options img {
        margin-bottom: auto;
        margin-top: 4vmin;
        margin-left: 2vmin;
    }
    .firstsectionhomedesktop {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8vmin;
    }
    .separationhomedesktop {
        border-left: solid #000 0.1vmin;
        margin-top: 8vmin;
        height: 100%; 
    }
    .secondsectionhomedesktop{
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8vmin;
    }
    .section-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1vmin;
    }
    .section-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2C3C52;
        border-radius: 40px;
        margin-right: 10vmin;
        width: 22vmin;
        height: 20vmin;
    }
    .section-images img {
        margin: auto;
    }
    .section-name-options {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2C3C52;
        height: 10vmin;
        width: 35vmin;
        font-size: 3vmin;
        border-radius: 5vmin 0vmin;
    }
}