.main-options{
    background-image: url('/src/images/Options/inyeccion.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    padding: 3vmin;
    align-items: center;
    justify-content: center;
    font-size: 3.7vmin;
}

.options{
    display: flex;
    width: 100%;
    height: 75vmin;
}

.options-column:first-of-type{
    border-right:2px solid rgba(0, 0, 0, 0.452);
}

.options-column{
    width: 50%;
    padding-left: 6vmin;
    padding-right: 6vmin;
}

.option{
    display: flex;
    height: 31%;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    align-items: center;
}

.option-icon{
    background-color: #2c3c52ee;
    height: 20vmin;
    width: 20vmin;
    padding: 1.5vmin;
    border-radius: 5vmin;
    margin-right: 5vmin;
}

.option-title{
    background-color: #2c3c52ee;
    display: flex;
    height: 12vmin;
    width: 34vmin;
    padding: 2vmin 3vmin;
    border-radius: 5vmin 0vmin 5vmin 0vmin;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}