@media only screen and (min-width: 1200px) {
    .Sincronization-desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vmin;
        height: 65vmin;
        background-image: url("/src/pagesDesktop/Sincronization/background.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60vmin;
    }
    .Sincronization-desktop input {
        width: 57vmin;
        height: 7vmin;
        text-align: center;
        font-size: 3vmin;
        border: none;
        border-radius: 2vmin;
    }
    .Sincronization-desktop button {
        margin: 0;
        margin-top: 3vmin;
        font-size: 3.5vmin;
        width: 30vmin;
    }
}