@media only screen and (min-width: 1200px) {
    *{
        margin: 0;  
        padding: 0%;
        box-sizing: border-box;
      }
      
      header{
          height: 13vh;
          width: 100vw;
          background: rgba(44, 60, 82, 0.8);
          
      }
      
      #logobarra{
          display: flex;
          position: relative;
          height: 13vmin;
          width: 13vmin;
          padding: 5px 5px;
              
      }
      
      .container-logo{
          align-items: left;
          width: 100%;
      
      }

      .container-body{

        display: flex;
        position: relative;
        margin-left: 0vw;
        height: 68vh;
        width: 100vw;
        background-color: blanchedalmond;
        align-items: center;    

      }

      .container-form{
        background-color: blue;
        display: flex;
        position: relative;
        margin-left: 0vw;
        height: 67vh;
        width: 35vw;
        align-content: center;
        align-self: center;


      }

      .container-video{
        display: flex;
        position: relative;
        margin-left: 0vw;
        height: 67vh;
        width: 60vw;
        background-color: aqua;

      }

      .linea-intermedia{
        background-color:aliceblue;
        display: flex;
        position: relative;
        height: 67vh;
        width: 5vw;

      }

      p {
        align-self: center;
        align-content: center;
        margin-right: 2vh;
        margin:20vmin;
        text-align: center;
      }

      .titulo{

        color: #000;
      }

      .caja-video{
        display: flex;
        margin:auto;
        height: 58vh;
        width: 52vw;
        background-color: #000;
        border-radius: 2vmin
         

      }
      .container-logo-interno{

        display: flex;
        margin:auto;
        height: 10vmin;
        width: 10vmin;
        background-color: beige;
         

      }
      .titulo-interno{
        display: flex;
        height: 10vmin;
        width: 10vmin;
        background-color: blueviolet;
      

      }

}