@media only screen and (min-width: 1200px) {
    *{
        margin: 0;  
        padding: 0%;
        box-sizing: border-box;
      }
      
      header{
          height: 13vh;
          width: 100vw;
          background: rgba(44, 60, 82, 0.8);
          
      }
      
      #logobarra{
          display: flex;
          position: relative;
          height: 13vmin;
          width: 13vmin;
          padding: 5px 5px;
              
      }
      
      .container-logo{
          align-items: left;
          width: 100%;
      
      }

      .container-body{

        display: flex;
        position: relative;
        margin-left: 0vw;
        height: 68vh;
        width: 100vw;
        align-items: center;    

      }

      .container-form{
        
        display: flex;        
        position: relative;
        flex-direction: column;
        margin-left: 1vmin;
        height: 67vh;
        width: 35vw;
       


      }

      .container-video{
        display: flex;
        position: relative;
        margin-left: 0vw;
        height: 67vh;
        width: 60vw;
        

      }

    

      p .parrafo{
        display: flex;
        align-self: center;
        align-content: center;
        font-size: small;
        margin:20vmin;
        text-align: center;
        
      }

      .principal-title{
        align-self: center;        
        margin: auto;
        color: black;

      }

      .texto-del-form{
        display: flex;
        font-size: 2vmin;
        color: #000;
        padding: 2vmin;
        margin-top: 2vmin;

      }

      .caja-video{
        display: flex;
        margin:auto;
        height: 58vh;
        width: 52vw;
        background-color: #000;
        border-radius: 2vmin
         

      }
      .container-logo-interno{

        display: flex;
        height: 15vmin;
        width: 15vmin;
        align-self: center;
        margin-top: 6vmin;
               

      }
      .logo-interno{
        display: flex;
        height: 15vmin;
        width: 15vmin;
        align-self: center;
        margin: auto;

      }

      .titulo-interno{
        display: flex;
        height: 7vmin;
        width: 45vmin;
        margin-top: 2vmin;
        align-self: center;
        text-align: center;
      

      }

      .container-linea-intermedia{
        
        position: relative;
        height: 67vh;
        width: 5vw;

      }

      .division-line{
        display: flex;
        position: relative;
        height: 52vmin;      
        align-self: center;        
        background-color: black; 
        border-color: #000;
        opacity: 100%;
        margin: 7.5vmin;

      }
      button{
        background-color: #2C3C52;
        border-radius: 8px;
        border-style: none;
        color: #fff;
        width: 14vw;
        height: 7vh;
        margin: auto;
        font-size: medium;
     
        
      }
      .container-button{
        display: flex;
        width: 30vmin;
        height: 8vmin;
        margin-top: 2vmin;
        align-self: center;
        align-content: center;

      }
      

}