@media only screen and (min-width: 1200px) {
    *{
        margin: 0;  
        padding: 0%;
        box-sizing: border-box;
      }
      
      header{
          height: 13vh;
          width: 100vw;
          background: rgba(44, 60, 82, 0.8);
          
      }
      
      #logobarra{
          display: flex;
          position: relative;
          height: 13vmin;
          width: 13vmin;
          padding: 5px 5px;
              
      }
      
      .container-logo{
          align-items: left;
          width: 100%;
      
      }



}